@import 'main';

$h-border-color: #f8d3a4;
$h-divider-color: #f3b360;
$h-btn-color: #fbe9d1;
$h-title-color: #f6c88d;
$menu-text-color: #85807d;
$menu-current-color: #f1a84b;

.outer-container {
  background: #fff;
  padding: 40px 40px 80px;
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
}

.content {
  width: 960px;
  margin: 0 auto;
}

.header {
  margin: 0 auto;
  position: relative;
  background: $accent-color;
  padding-bottom: 40px;
}

h1 {
  width: 100%;
  text-align: center;
  margin-bottom: 40px;
}

dl{
  width: 46%;
  margin: 0 auto;
}

input[type=text] {
  width: 92%;
}

.form-button {
  text-align: center;
  margin-top: 20px;
}

.drop-down {
  width: 40%;
}

.title-wrap {
  margin: 0 auto;
  padding-top: 60px;
  text-align: center;
}

.logo {
  width: 328px;
  height: 92px;
  margin: 0 auto;
  display: inline-block;
}

.header-title {
  display: inline-block;
  color: $h-title-color;
  font-size: 2em;
  letter-spacing: 2px;
  font-weight: $bold-weight;
  text-transform: uppercase;
  transform: translateY(-24px);
  margin-left: 14px;
}

.toolbar {
  margin: 30px auto 0;
  text-align: center;
  position: relative;
  width: 960px;
}

.icon-set {
  display: inline-block;
  padding: 0px 20px 0 0;
  border-right: 1px solid $h-divider-color;
  margin-right: 20px;
  height: 68px;
  position: relative;
}

.toolbar-icon {
  display: inline-block;
  height: 40px;
}

.toolbar-icon img {
  width: 36px;
  height: 40px;
  display: block;
  margin-top: 11px;
}

.options-dropdown {
  left: 33%;
}

.cart-label {
  margin-right: 20px;
}

.logout-button {
  padding: 14px 24px;
  background: $accent-color;
  border: 1px solid $h-border-color;
  cursor:pointer;
  border-radius: 7px;
  font-size: 1em;
  font-family:$primary-font;
  font-weight: $bold-weight;
  color: $h-btn-color;
  text-transform: uppercase;
  display: inline-block;
}

.logout-button:hover {
  background: $faded-accent-color;
}

.logout-button:focus {
  outline: none;
}

.logout-button:active {
  background: $dark-accent-color;
  transition: all 0s;
}

.menu {
  background: $bg-color;
  border-top: 1px solid $border-color;
  padding: 26px 0;
  text-align: center;
}

.menu-item {
  display: inline-block;
  margin: 0 18px;

  a {
    color: $menu-text-color;
    transition: all 0.15s ease-out;
  }

  a:hover {
    color: $accent-color;
    transition: all 0.15s ease-in;
  }
}

.current a {
  color: $menu-current-color;
}

.cp-table {
  width: 90%;
  margin: 40px auto;
  border: 1px solid $border-color;
  border-radius: 7px;
  text-align: center;
}

.cp-table-bold {
  font-weight: $bold-weight;
}

.daily-sales-total {
  text-align: center;
  padding: 10px 30px;
  h2 {
    font-family: $primary-font;
    font-weight: $primary-weight;
    display: inline-block;
    padding: 0 30px;
  }
}

button.add-songs-button {
  background: #86b521;
  margin-left: 20px;
  transition: all 0.1s ease-out;
}

button.add-songs-button:hover {
  background: #95bf22;
  transition: all 0.1s ease-in;
}
button.add-songs-button:active {
  background: #7fa31c;
  transition: all 0;
}

.inventory-songs {
  text-align: center;

  h2 {
    border-bottom: 1px solid $border-color;
    margin: 0 20px;
    padding: 10px 0 20px;
  }

  ul {
    padding: 20px 0 10px;
  }
}

.inventory-empty {
  margin-bottom: 50px;
}