@import 'main';

$h-border-color: #cbcbcb;
$h-divider-color: #d4d4d4;

.outer-container {
  background: #fff;
  padding: 40px 40px 80px;
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
}

.content {
  width: 960px;
  margin: 0 auto;
}

.header {
  margin: 0 auto;
  position: relative;
  background: $bg-color;
  padding-bottom: 40px;
}

h1 {
  width: 100%;
  text-align: center;
  margin-bottom: 40px;
}


dl{
  width: 46%;
  margin: 0 auto;
}

input[type=text] {
  width: 92%;
}

.form-button {
  text-align: center;
  margin-top: 20px;
}

.drop-down {
  width: 40%;
}

.title-wrap {
  margin: 0 auto;
  padding-top: 60px;
  text-align: center;
}

.logo {
  width: 328px;
  height: 92px;
  margin: 0 auto;
  display: inline-block;
}

.toolbar {
  margin: 30px auto 0;
  text-align: center;
  position: relative;
  width: 960px;
}

.icon-set {
  display: inline-block;
  padding: 0px 20px 0 0;
  border-right: 1px solid $h-divider-color;
  margin-right: 20px;
  height: 62px;
}

.toolbar-icon {
  display: inline-block;
  height: 40px;
}

.toolbar-icon img {
  width: 36px;
  height: 40px;
  display: block;
  margin-top: 11px;
}

.cart-label {
  margin-right: 20px;
}

.logout-button {
  padding: 14px 24px;
  background: $bg-color;
  border: 1px solid $h-border-color;
  cursor:pointer;
  border-radius: 7px;
  font-size: 1em;
  font-family:$primary-font;
  font-weight: $bold-weight;
  color:$faded-text-color;
  text-transform: uppercase;
  display: inline-block;
}

.logout-button:hover {
  background: #fff;
}

.logout-button:focus {
  outline: none;
}

.logout-button:active {
  background: $border-color;
  transition: all 0s;
}


.item-widget, .order-widget {
  width: 75%;
  margin: 40px auto;
  border: 1px solid $border-color;
  border-radius: 7px;
  text-align: center;
}

.item-widget h2, .order-widget h2 {
  margin: 0;
  padding: 15px 0;
  width: 100%;
  border-bottom: 1px solid $border-color;
}

.item-widget-attributes {
  padding: 20px 0;
}

.item-widget-attributes li {
  display: inline;
  margin: 0 5%;
}

.attribute-label {
  font-weight: bold;
}

.item-widget .button {
  margin: 20px 0;
}

.buy-widget, .info-widget {
  width: 75%;
  margin: 40px auto;
  border: 1px solid $border-color;
  border-radius: 7px;
}

.info-widget {
  margin-top: 60px;
}

.info-widget-songs {
  text-align: center;

  h2 {
    border-bottom: 1px solid $border-color;
    margin: 0 20px;
    padding: 10px 0 20px;
  }

  ul {
    padding: 20px 0 10px;
  }
}

.item-title {
  margin-bottom: 0;
}

.singer-name {
  font-family: $primary-font;
  font-weight: $primary-weight;
  margin: 0;
  text-align: center;
}

.buy-widget-attributes {
  float: left;
  padding: 20px 30px 12px;
}

.buy-widget h2 {
  text-align: left;
  font-family: $heading-font;
  font-weight: $bold-weight;
  font-size: 3.5em;
  margin: 0 20px 0 0;
  display: inline-block;
  vertical-align: middle;
}

.buy-widget-stock {
  vertical-align: middle;
  display: inline-block;
}

.buy-widget form {
  width: 303px;
  float: right;
  padding: 20px 30px;
  border-left: 1px solid $border-color;
  text-align: center;
}

.buy-widget dl {
  display: inline;
  margin: 0;
}

input[type=number].buy-quantity {
  width: 70px;
  margin-right: 20px;
}

.buy-widget input[type=submit] {
  padding: 18px 24px;
}

.stock-label {
  display: block;
}

.shopping-cart {
  width: 90%;
  margin: 60px auto 40px;
}

.cart-form {
  text-align: center;
}

.cart-item {
  width: 50%;
}
.cart-quantity-input {
  width: 40px;
}

.cart-delete {
  text-align: center;
}

.cart-total-price {
  text-align: center;
  padding: 10px 30px;
  h2 {
    font-family: $primary-font;
    font-weight: $primary-weight;
  }
}

button.checkout-button {
  background-color: #86b521;
  margin-left: 20px;
}

.summary-widget {
  width: 75%;
  margin: 40px auto;
  border: 1px solid $border-color;
  border-radius: 7px;
  text-align: center;
}

.order-return {
  text-align: center;
}

.return-quantity-input {
  width: 60px;
}

.order-details {
  width: 90%;
  margin: 60px auto 40px;
}

.order-items {
  width: 90%;
  margin: 20px auto 40px;
}

